#create-workspace_container {
  width: 660px;
  padding: 50px;
}

#create-workspace_step {
  font-size: 13px;
  color: gray
}

#create-workspace_workspace-form {
  margin-top: 24px;
  width: 100%;
}

#create-workspace_workspace-form h2 {
  font-size: 40px;
  margin-bottom: 8px;
}

#create-workspace_workspace-form p {
  font-size: 15px;
  margin-bottom: 24px;
}

#create-workspace_workspace-form > button {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 44px;
  margin-top: 48px;
  background-color: #611f69;
  border: none;
  color: white;
  border-radius: 5px;
}

#create-workspace_workspace-name-length-limit {
  position: absolute;
  top: 20px;
  right: 10px;
}

#create-workspace_workspace-name-input input {
  padding-right: 40px !important;
}

#create-workspace_workspace-name-input {
  margin-bottom: 40px;
}

#create-workspace_workspace-icon-slider {
  width: 110px;
}

#create-workspace_workspace-form h3 {
  margin-bottom: 8px;
  font-weight: 100 !important;
}

#create-workspace_workspace-form h3 span {
  color: gray;
}

#create-workspace_workspace-icon-upload {
  display: flex;
  column-gap: 20px;
}

#create-workspace_workspace-icon-upload > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#create-workspace_workspace-icon-upload_button {
  font-size: 15px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

#create-workspace_workspace-form > button:disabled {
  background-color: lightgray;
  cursor: default;
}









#create-workspace_workspace-user-form {
  margin-top: 24px;
  width: 100%;
}

#create-workspace_workspace-user-form h2 {
  font-size: 40px;
  margin-bottom: 8px;
}

#create-workspace_workspace-user-form p {
  font-size: 15px;
  margin-bottom: 24px;
}

#create-workspace_submit-buttons > button {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 44px;
  margin-top: 48px;
  background-color: #611f69;
  border: none;
  color: white;
  border-radius: 5px;
}

#create-workspace_nickname-length-limit {
  position: absolute;
  top: 20px;
  right: 10px;
}

#create-workspace_nickname-input input {
  padding-right: 40px !important;
}

#create-workspace_nickname-input {
  margin-bottom: 40px;
}

#create-workspace_profile-image-slider {
  width: 110px;
}

#create-workspace_workspace-user-form h3 {
  margin-bottom: 8px;
  font-weight: 100 !important;
}

#create-workspace_workspace-user-form h3 span {
  color: gray;
}

#create-workspace_profile-image-upload {
  display: flex;
  column-gap: 20px;
}

#create-workspace_profile-image-upload > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#create-workspace_profile-image-upload_button {
  font-size: 15px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

#create-workspace_submit-buttons > button:disabled {
  background-color: lightgray;
  cursor: default;
}

#create-workspace_submit-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
