#chat-room_container {
  display: grid;
  grid-template-columns: 80px auto 1fr;
  height: calc(100vh - 60px);
}

#chat-room_workspaces-sidebar {
  background-color: #611f69;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.chat-room_workspace {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#chat-room_workspaces-sidebar>div {
  position: relative;
}

.chat-room_workspace:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.chat-room_workspace.active {
  border-color: white;
}

.chat-room_workspace img {
  width: 36px;
  height: 36px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

.chat-room_workspace-name {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 13px;
  left: 58px;
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 100;
}

.chat-room_workspace:hover+.chat-room_workspace-name {
  display: flex;
}

.chat-room_workspace-name:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

#chat-room_create-workspace {
  font-size: 20px;
  margin-top: 8px;
  padding: 10px;
  border: none;
  aspect-ratio: 1/1;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

#chat-room_create-workspace:hover {
  background-color: #955f9c;
}

#chat-room_create-workspace-label {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 10px;
  left: 48px;
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 100;
}

#chat-room_create-workspace:hover+#chat-room_create-workspace-label {
  display: flex;
}

#chat-room_create-workspace-label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

#chat-room_channel-sidebar {
  background-color: #611f69;
  max-width: 260px;
  padding: 0px 0px 10px 0px;
}

#chat-room_channel-sidebar-background {
  background-color: #dac4dc;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

#chat-room_workspace-edit {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 5px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

#chat-room_workspace-edit i {
  font-size: 12px;
}

#chat-room_workspace-edit:hover {
  background-color: #d0acd3;
}

#chat-room_channel-sidebar hr {
  border: 0;
  width: 100%;
  background-color: rgb(180, 180, 180);
  height: 1px;
}

#chat-room_workspace-dropdown hr {
  background-color: lightgray !important;
}

#chat-room_workspace-dropdown {
  position: absolute;
  left: 16px;
  top: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 12px 0px;
}

#chat-room_workspace-dropdown li:nth-child(1) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  column-gap: 10px;
  font-size: 15px;
  font-weight: bold;
}

#chat-room_workspace-dropdown li:not(:nth-child(1)) {
  padding: 10px 24px;
  font-size: 15px;
}

#chat-room_workspace-dropdown li:not(:nth-child(1)):hover {
  background-color: #1264a3;
  cursor: pointer;
  color: white;
}

#chat-room_delete-workspace,
#chat-room_leave-workspace {
  color: red
}


#chat-room_workspace-dropdown img {
  height: 35px;
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

#chat-room_channel {
  padding: 12px 0px 5px 15px;
  display: flex;
  column-gap: 5px;
  color: gray;
  align-items: center;
}

#chat-room_channel button {
  border: none;
  background-color: transparent;
  color: gray;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 12px;
}

#chat-room_channel button:hover {
  background-color: #d0acd3;
}

#chat-room_workspace-edit h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_workspace-dropdown span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_channel-dropdown button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_channel-dropdown button:hover {
  background-color: #d0acd3;
}

#chat-room_channel-dropdown button i {
  font-size: 12px;
}

#chat-room_channel-dropdown {
  display: flex;
  flex-direction: column;
}

#chat-room_active-channel {
  background-color: #611f69 !important;
  color: white !important
}

#chat-room_add-channel {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_add-channel:hover {
  background-color: #d0acd3;
}

#chat-room_add-channel i {
  font-size: 12px;
}

#chat-room_add-coworker {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_add-coworker:hover {
  background-color: #d0acd3;
}

#chat-room_add-coworker i {
  font-size: 12px;
}

#channel-window_container {
  background-color: #611f69;
  padding: 0px 10px 10px 0px;
  width: 100%;
  box-sizing: border-box;
}

#channel-window_background {
  background-color: white;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 0px;
  box-sizing: border-box;
}

#channel-window_title {
  display: flex;
  align-items: center;
  padding: 5px;
  column-gap: 5px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#channel-window_title:hover {
  background-color: rgb(233, 231, 231);
}

#channel-window_title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

#channel-window_container hr {
  border: 0;
  width: 100%;
  background-color: rgb(180, 180, 180);
  height: 1px;
}

#channel-window_title > i.fa-solid.fa-angle-down {
  font-size: 12px;
}

#channel-window_members {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#channel-window_members:hover {
  background-color: rgb(233, 231, 231);
}

#channel-window_members img {
  height: 22px;
  width: 22px;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  object-fit: cover;
}

#channel-window_header {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  position: relative;
}

#channel-window_channel-dropdown {
  position: absolute;
  top: 35px;
  left: 0px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 12px 0px;
}

#channel-window_channel-dropdown li {
  padding: 10px 24px;
  font-size: 15px;
}

#channel-window_channel-dropdown li:hover {
  background-color: #1264a3;
  cursor: pointer;
  color: white;
}

#channel-window_delete-channel,
#channel-window_leave-channel {
  color: red
}
