#chat-room_container {
  display: grid;
  grid-template-columns: 80px auto 1fr;
  height: calc(100vh - 60px);
  overflow: hidden;
}

#chat-room_workspaces-sidebar-container {
  background-color: #611f69;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#chat-room_workspaces-sidebar {
  background-color: transparent;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  row-gap: 12px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  box-sizing: border-box;
  bottom: 10px;
}

#chat-room_workspaces-sidebar-spacer {
  position: relative;
  height: 10px;
  width: 100%;
  bottom: 0px;
  background-color: #611f69;
}

#chat-room_workspaces-sidebar::-webkit-scrollbar {
  background-color: transparent !important;
  width: 14px !important;
  position: absolute !important;
}

#chat-room_workspaces-sidebar::-webkit-scrollbar-track {
  background-color: transparent !important;
  position: absolute;
}

#chat-room_workspaces-sidebar::-webkit-scrollbar-thumb {
  background-color: #babac0 !important;
  border-radius: 16px !important;
  border: 4px solid #611f69 !important;
  position: absolute;
}

#chat-room_workspaces-sidebar::-webkit-scrollbar-button {
  display: none;
  position: absolute;
}

.chat-room_workspace {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#chat-room_workspaces-sidebar>div {
  position: relative;
}

.chat-room_workspace:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.chat-room_workspace.active {
  border-color: white;
}

.chat-room_workspace img {
  width: 36px;
  height: 36px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

.chat-room_workspace-name {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 13px;
  left: 58px;
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 100;
  max-width: 130px;
  direction: ltr;
}

.chat-room_workspace-name span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-room_workspace:hover+.chat-room_workspace-name {
  display: flex;
}

.chat-room_workspace-name:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

#chat-room_create-workspace {
  font-size: 20px;
  margin-top: 8px;
  padding: 5px 10px;
  border: none;
  aspect-ratio: 1/1;
  width: 36px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-room_create-workspace:hover {
  background-color: #955f9c;
}

#chat-room_create-workspace-label {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 10px;
  left: 53px;
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 100;
}

#chat-room_create-workspace:hover+#chat-room_create-workspace-label {
  display: flex;
}

#chat-room_create-workspace-label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

#chat-room_channel-sidebar {
  background-color: #611f69;
  max-width: 260px;
  padding: 0px 0px 10px 0px;
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
}

#chat-room_channel-sidebar-background {
  background-color: #dac4dc;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
}

#chat-room_channel-sidebar-background::-webkit-scrollbar {
  background-color: transparent !important;
  width: 16px !important;
  position: absolute;
}

#chat-room_channel-sidebar-background::-webkit-scrollbar-track {
  background-color: transparent !important;
  position: absolute;
}

#chat-room_channel-sidebar-background::-webkit-scrollbar-thumb {
  background-color: #babac0 !important;
  border-radius: 16px !important;
  border: 4px solid #dac4dc !important;
  position: absolute;
}

#chat-room_channel-sidebar-background::-webkit-scrollbar-button {
  display: none;
  position: absolute;
}

#chat-room_workspace-edit {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 5px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  max-width: 230px;
}

#chat-room_workspace-edit i {
  font-size: 12px;
}

#chat-room_workspace-edit:hover {
  background-color: #d0acd3;
}

#chat-room_channel-sidebar hr {
  border: 0;
  width: 100%;
  background-color: rgb(180, 180, 180);
  height: 1px;
}

#chat-room_workspace-dropdown hr {
  background-color: lightgray !important;
  border: 0;
  width: 100%;
  height: 1px;
}

#chat-room_workspace-dropdown {
  position: absolute;
  left: 95px;
  top: 110px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 12px 0px;
  z-index: 1002;
}

#chat-room_workspace-dropdown li:nth-child(1) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  column-gap: 10px;
  font-size: 15px;
  font-weight: bold;
}

#chat-room_workspace-dropdown li:not(:nth-child(1)) {
  padding: 10px 24px;
  font-size: 15px;
}

#chat-room_workspace-dropdown li:not(:nth-child(1)):hover {
  background-color: #1264a3;
  cursor: pointer;
  color: white;
}

#chat-room_delete-workspace,
#chat-room_leave-workspace {
  color: red
}


#chat-room_workspace-dropdown img {
  height: 35px;
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

#chat-room_channel {
  padding: 12px 0px 5px 15px;
  display: flex;
  column-gap: 5px;
  color: gray;
  align-items: center;
}

#chat-room_channel button {
  border: none;
  background-color: transparent;
  color: gray;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 12px;
  width: 22px;
}

#chat-room_channel button:hover {
  background-color: #d0acd3;
}

#chat-room_workspace-edit h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_workspace-dropdown span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_channel-dropdown button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_channel-dropdown button span:first-child {
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chat-room_channel-dropdown button span i {
  padding-right: 10px;
}

#chat-room_channel-dropdown button:hover {
  background-color: #d0acd3;
}

#chat-room_channel-dropdown button i {
  font-size: 12px;
}

#chat-room_channel-dropdown {
  display: flex;
  flex-direction: column;
}

#chat-room_active-channel {
  background-color: #611f69 !important;
  color: white !important;
}

#chat-room_add-channel {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_add-channel:hover {
  background-color: #d0acd3;
}

#chat-room_add-channel i {
  font-size: 12px;
}

#chat-room_add-coworker {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: gray;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-room_add-coworker:hover {
  background-color: #d0acd3;
}

#chat-room_add-coworker i {
  font-size: 12px;
}

#channel-window_container {
  background-color: #611f69;
  padding: 0px 10px 10px 0px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-height: calc(100vh - 60px);
}

#channel-window_background {
  background-color: white;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow: auto;
  position: relative;
  transition: border-radius 0.2s ease-in-out;
}

#channel-window_background.shrink {
  border-radius: 0px !important;
  z-index: 20;
  border-right: 1px solid rgb(180, 180, 180);
  transition: none;
}

#channel-window_thread {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: #611f69;
  padding-bottom: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  transition: width 0.2s ease-in-out;
}

#channel-window_thread.expand {
  width: calc(40% + 10px);
  transition: none;
}

#channel-window_background::-webkit-scrollbar {
  background-color: transparent !important;
  width: 16px !important;
  position: absolute;
}

#channel-window_background::-webkit-scrollbar-track {
  background-color: transparent !important;
  position: absolute;
}

#channel-window_background::-webkit-scrollbar-thumb {
  background-color: #babac0 !important;
  border-radius: 16px !important;
  border: 4px solid white !important;
  position: absolute;
  margin: 20px 0px !important
}

#channel-window_background::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 5px;
}

#channel-window_background::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 5px;
}

#channel-window_background::-webkit-scrollbar-button {
  display: none;
  position: absolute;
}

#channel-window_title {
  display: flex;
  align-items: center;
  padding: 5px;
  column-gap: 5px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#channel-window_title:hover {
  background-color: rgb(233, 231, 231);
}

#channel-window_title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

#channel-window_container hr {
  border: 0;
  width: 100%;
  background-color: rgb(180, 180, 180);
  height: 1px;
  margin-bottom: 0px;
}

#channel-window_title>i.fa-solid.fa-angle-down {
  font-size: 12px;
}

#channel-window_members {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

#channel-window_members:hover {
  background-color: rgb(233, 231, 231);
}

#channel-window_members img {
  height: 22px;
  width: 22px;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  object-fit: cover;
}

#channel-window_header {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  position: relative;
}

#channel-window_channel-dropdown {
  position: absolute;
  top: 35px;
  left: 0px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 12px 0px;
  z-index: 1002;
}

#channel-window_channel-dropdown li {
  padding: 10px 24px;
  font-size: 15px;
}

#channel-window_channel-dropdown li:hover {
  background-color: #1264a3;
  cursor: pointer;
  color: white;
}

#channel-window_delete-channel,
#channel-window_leave-channel {
  color: red
}

#channel-window_body {
  overflow: hidden;
}

#channel-window_textarea-background {
  box-sizing: border-box;
  position: absolute;
  height: 165px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 3;
  border-bottom-right-radius: 15px;
}

#channel-window_textarea {
  z-index: 4;
  margin: 0px 20px 10px 20px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  position: absolute;
  border-radius: 10px;
  /* padding: 20px 12px 40px 12px; */
  padding-bottom: 30px;
  height: fit-content;
  width: calc(100% - 40px);
  left: 0px;
  bottom: 15px;
  background-color: white;
}

/* #channel-window_textarea > div {
  min-height: 60px;
  max-height: 300px;
  overflow-y: scroll;
  display: grid;
}

#channel-window_textarea > div::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  font-size: 15px;
  font-family: "circular_stdbook", sans-serif;
}

#channel-window_textarea textarea {
  resize: none;
  font-size: 15px !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  white-space: pre-wrap;
}

#channel-window_textarea textarea,
#channel-window_textarea > div::after {
  grid-area: 1 / 1 / 2 / 2;
}

#channel-window_textarea textarea:focus {
  outline: none;
}


#channel-window_textarea > div::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

#channel-window_textarea > div::-webkit-scrollbar-track {
  background-color: transparent;
}

#channel-window_textarea > div::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f8f8;
}

#channel-window_textarea > div::-webkit-scrollbar-button {
  display: none;
} */

#channel-window_textarea-submit {
  background-color: rgb(7, 126, 7);
  border: 1px solid rgb(7, 126, 7);
  width: fit-content;
  position: absolute;
  bottom: 0px;
  right: 12px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  z-index: 1002 !important;
}

#channel-window_textarea-submit:hover {
  background-color: rgb(6, 153, 6);
}

#channel-window_textarea-submit:disabled {
  background-color: white;
  border: 1px solid white;
  color: lightgray;
  cursor: default;
}

.chat-room_channel_new_message {
  width: 25px;
  height: 15px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #611f69;
  position: relative;
  left: 0px;
}

.chat-room_workspace-message-alert {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #611f69;
  position: absolute;
  right: -2px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-room_workspace-message-alert>div {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: red;
}

.ck-editor__editable {
  width: 100%;
  height: fit-content !important;
  border: 1px transparent !important;
  box-sizing: border-box !important;
  padding: 15px 12px 15px 12px !important;
  max-height: 300px;
  min-height: 60px;
  border-radius: 10px !important;
}

.ck-editor__editable:focus {
  box-shadow: none !important;
}

.ck-sticky-panel__content_sticky {
  border: none !important;
  box-shadow: none !important;
}

.ck-sticky-panel__content_sticky .ck-toolbar {
  border-radius: 0px !important;
}

.ck-toolbar {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border: none !important;
  background-color: #f8f8f8 !important;
  padding: 5px !important;
  box-shadow: none !important;
}

.ck-editor__editable * {
  word-break: break-all !important;
  font-size: 14px !important;
  line-height: 140%;
}

.ck-editor__editable p {
  margin: 0px !important;
}

.ck-editor__editable ol {
  display: block;
  margin: 0px !important;
  text-align: left;
  counter-reset: list0;
}

.ck-editor__editable ol li {
  margin-left: 20px;
}

.ck-editor__editable ol li::before {
  counter-increment: list0 1;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
  text-align: left;
}

.ck-editor__editable ol>li::before {
  content: counter(list0) ". ";
}

.ck-editor__editable ol>li ol>li::before {
  content: counter(list0, lower-alpha) ". ";
}

.ck-editor__editable ul {
  display: block;
  margin: 0px !important;
  text-align: left;
}

.ck-editor__editable ul li {
  margin-left: 20px;
}

.ck-editor__editable ul li::before {
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
  text-align: left;
}

.ck-editor__editable ul>li::before {
  content: "•";
}

.ck-editor__editable ul>li ul>li::before {
  content: "○";
}

.ck-editor__editable p code {
  font-family: Monaco, Menlo, Consolas !important;
  font-size: 12px !important;
  line-height: 150%;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: rgba(29, 28, 29, 0.04) !important;
  padding: 2px 3px !important;
}

.ck-editor__editable pre {
  border: 1px solid lightgray;
  border-radius: 5px !important;
  background-color: rgba(29, 28, 29, 0.04) !important;
  padding: 8px !important;
  margin: 0px !important;
}

.ck-editor__editable pre code {
  font-family: Monaco, Menlo, Consolas !important;
  font-size: 12px !important;
  line-height: 150%;
}

.ck-editor__editable pre::after {
  font-family: "circular_stdbook", sans-serif !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.ck-editor__editable blockquote {
  margin: 0px !important;
  font-style: normal !important;
}

.ck-editor__editable span.mention {
  color: rgb(18, 100, 163);
  background-color: #f2c74466;
  padding: 3px;
  border-radius: 5px;
  box-sizing: border-box !important;
  cursor: default;
}

.ck-editor__editable::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

.ck-editor__editable::-webkit-scrollbar-track {
  background-color: transparent;
}

.ck-editor__editable::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  padding-bottom: 20px !important;
  border: 4px solid #f8f8f8;
}

.ck-editor__editable::-webkit-scrollbar-button {
  display: none;
}

.ck-editor__editable::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

.ck-editor__editable::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 18px;
}

.ck-focused {
  border: 0px !important;
  box-shadow: none !important;
}

#channel-window_buttons {
  background-color: white;
  width: 100%;
  height: 35px;
  position: absolute;
  z-index: 1001 !important;
  bottom: 10px;
}

.ck-button:hover {
  cursor: pointer !important;
}

.ck-button:not(.ck-list__item button, .ck-splitbutton__action, .ck-splitbutton__arrow, .mention-list-item) {
  border-radius: 5px !important;
  border: none !important;
}

.ck-button:hover:not(.ck-on) {
  background-color: rgb(243, 241, 241) !important;
}

.ck-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ck-on:not(.mention-list-item) {
  background-color: rgb(226, 226, 226) !important;
  color: black !important
}


.ck-link-form {
  z-index: 1002 !important;
}

.ck-balloon-panel {
  z-index: 1003 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 1px solid lightgray !important;
  overflow: hidden !important;
}

.ck-balloon-panel::after {
  margin-top: 1px;
}

.ck-link-form {
  padding-right: 5px !important;
}

.ck-powered-by,
.ck-powered-by-balloon {
  display: none !important;
}

.ck-input {
  border-radius: 5px !important;
  border: 1px solid lightgray !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.ck-button-cancel {
  margin-left: 0px !important;
}

.ck-splitbutton__arrow::after {
  content: none !important;
}

.ck-dropdown__panel {
  font-size: 12px !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  border: 1px solid lightgray !important;
  z-index: 1050 !important;
}

.ck-dropdown__panel::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

.ck-dropdown__panel::-webkit-scrollbar-track {
  background-color: transparent;
}

.ck-dropdown__panel::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  padding-bottom: 20px !important;
  border: 4px solid white;
}

.ck-dropdown__panel::-webkit-scrollbar-button {
  display: none;
}

.ck-dropdown__panel li {
  border-radius: 0px !important;
  z-index: 1060 !important;
}

.ck-splitbutton__action {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: none !important;
}

.ck-splitbutton__arrow {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border: none !important;
}

.ck-splitbutton__action:hover+.ck-splitbutton__arrow {
  background-color: rgb(243, 241, 241) !important;
}

.ck-splitbutton__action:has(+ .ck-splitbutton__arrow:hover) {
  background-color: rgb(243, 241, 241) !important;
}

.ck-list__item button {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ck-tooltip {
  padding: 10px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: none !important;
}

.mention-list-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 0px !important;
  cursor: pointer !important;
  background-color: white !important;
}

.mention-list-item * {
  cursor: pointer !important;
}

.mention-list-item:hover {
  background-color: rgb(243, 241, 241) !important;
}

.mention-list-avatar-wrapper {
  width: 25px !important;
  height: 25px !important;
  aspect-ratio: 1 / 1 !important;
  object-fit: cover !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mention-list-avatar-wrapper:not(.mention-list-channel-icon) img {
  width: 100% !important;
  border-radius: 5px !important;
}

.mention-list-channel-icon img {
  width: 70% !important;
}

.mention-list-username {
  font-family: "circular_stdbook", sans-serif !important;
  display: flex !important;
  align-items: center !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

.mention-list-email {
  font-family: "circular_stdbook", sans-serif !important;
  display: flex !important;
  align-items: center !important;
  font-size: 13px !important;
}

.ck-balloon-rotator__content {
  padding: 10px 0px !important;
}

#channel-window_textarea-format,
#channel-window_textarea-emoji,
#channel-window_textarea-mention {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 1001 !important;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#channel-window_textarea-format {
  left: 10px;
  bottom: 0px;
}

#channel-window_textarea-emoji {
  font-size: 18px;
  left: 45px;
  bottom: 0px;
  color: #676767;
}

#channel-window_textarea-mention {
  font-size: 18px;
  left: 80px;
  bottom: 0px;
  color: #676767;
}

#channel-window_textarea-format:hover,
#channel-window_textarea-emoji:hover,
#channel-window_textarea-mention:hover {
  background-color: rgb(243, 241, 241);
  cursor: pointer;
}


#channel-window_textarea-format img,
#channel-window_textarea-mention img {
  height: 20px;
  filter: invert(38%) sepia(5%) saturate(21%) hue-rotate(323deg) brightness(102%)
}

#channel-window_textarea-format.show-format::after {
  background: #676767;
  border-radius: 9999px;
  bottom: 4px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 2px);
  transition: opacity 80ms, transform 80ms;
  width: 75%;
  color: #676767;
}

#channel-window_emoji-picker .EmojiPickerReact {
  position: absolute !important;
  bottom: 80px;
  left: -10px;
  border: 1px solid lightgray !important;
  --epr-emoji-size: 20px !important;
  font-size: 15px;
  --epr-preview-height: 60px !important;
  z-index: 1100 !important;
}

.epr-body::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

.epr-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.epr-body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  padding-bottom: 20px !important;
  border: 4px solid white;
}

.epr-body::-webkit-scrollbar-button {
  display: none;
}

.epr-preview .epr-emoji-native {
  font-size: 20px !important;
}

.epr-category-nav .epr-btn {
  --epr-category-navigation-button-size: 20px !important
}

.epr-emoji-category-label {
  font-family: "circular_stdbook", sans-serif !important;
  font-size: 14px !important;
  height: fit-content !important
}

.epr-preview {
  --epr-preview-height: 40px !important;
}

.epr-preview-emoji-label {
  font-family: "circular_stdbook", sans-serif !important;
}

#channel-window_instruction {
  font-size: 10.5px;
  position: absolute;
  bottom: -30px;
  right: 0px;
  color: gray;
}
